<div class="background">

    <div class="container customcontainer">

        <h2 class="heading">Dragatron Assignment</h2>

        <!-- Input Form -->
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name"><h6>Item Name : </h6></label>
                <input required type="text" class="form-control" #name id="name" placeholder="Enter item name" formControlName="itemName">
                <small class="text-danger" *ngIf="(inputFormControl.itemName.invalid && (inputFormControl.itemName.dirty || inputFormControl.itemName.touched) )">
                 Name is required 
                </small>
            </div>

            <div class=" form-group">
                <label for="image"><h6>{{isForEditingImage ? 'Edit image' : 'Item Image' }}:</h6> </label><br>
                <div *ngIf="isForEditingImage">
                    <img [src]="imageToEdit" class="imgSize">
                </div>
                <input type="file" (change)="onFileChange($event)" class="form-control-file" id="image" placeholder="Upload image" required formControlName="itemImage">
            </div>

            <div class="form-group">
                <label for="price"><h6>Item Price (INR) : </h6></label>
                <input type="number" class="form-control" id="price" onkeypress="return event.charCode >= 48" min="0" step="1" placeholder="Enter item price" formControlName="itemPrice">
                <small class="text-danger" *ngIf="(inputFormControl.itemPrice.invalid && (inputFormControl.itemPrice.dirty || inputFormControl.itemPrice.touched) )">
                    Please enter the price of the item
                </small>
            </div>

            <div class="form-group">
                <label for="description "><h6>Item Description :</h6> </label>
                <input type="text" class="form-control" id="description" placeholder="Enter item Description upto 50 words" required formControlName="itemDescription" maxlength="50">

            </div>

            <div class="form-group">
                <label for="date"><h6>Item Addition Date :</h6> </label><br>
                <input type="date" class="form-control" required formControlName="itemAdditionDate">
            </div>
            <div id="submitButton">
                <button type="submit" [disabled]="!inputForm.valid" class="btn btn-success"><i class="fa fa-check-square-o"></i> Submit</button>
            </div>

        </form>
    </div>
    <hr>


    <!-- Delete all items or Search items in list -->
    <div class="container ">
        <button id="remove" (click)="deleteAll()" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete All</button>
        <div id="searchBar">
            <input type="search" class="form-control" [(ngModel)]="searchText" placeholder="Search Item by Price">
        </div>
    </div>
    <hr>


    <!-- Grid to display the entered items -->

    <h4 class="heading pt-1">Items List</h4>

    <div class="container borderShadow">
        <div class="row">

            <div class="col gridBorder">
                <h6>Item Thumbnail</h6>
            </div>

            <div class="col gridBorder">
                <h6>Item Actual Image</h6>
            </div>

            <div class="col gridBorder">
                <h6>Item Price</h6>
            </div>

            <div class="col gridBorder">
                <h6>Item Description</h6>
            </div>

            <div class="col gridBorder">
                <h6>Item Addition Date</h6>
            </div>

            <div class="col gridBorder">
                <h6>Item Edit/Delete</h6>
            </div>

        </div>

        <div class="row" *ngFor="let item of itemList| filter: searchText">

            <div class="col img-thumbnail gridBorder">
                <img [src]="item.itemImage" class="imgSize">
            </div>

            <div class="col gridBorder">
                <img [src]="item.itemImage" class="imgSize">
            </div>

            <div class="col gridBorder">
                <h6>Rs. {{item.itemPrice}}</h6>
            </div>

            <div class="col gridBorder">
                <h6> {{item.itemDescription}}</h6>
            </div>

            <div class="col gridBorder">
                <h6> {{item.itemAdditionDate| date : 'dd/MM/yyyy'}}</h6>
            </div>

            <div class="col gridBorder">
                <button (click)="editItem(item)" class="btn btn-primary p-1 btn-sm"><i class="fa fa-edit"></i> Edit</button>
                <button (click)="deleteRow(item)" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </div>

        </div>

    </div>

</div>